###############################################################################
#
# timeperiods.cfg
#
#
#        You need to keep timeperiods up to date once a year !!!
#        Note: check for Easter changes and extra bank holidays every year :-(
#                                           i.E  Christmas Day on a Sunday ...
#
#
###############################################################################


# This defines is the 24x7x365 timeperiod definition
define timeperiod {
  timeperiod_name            24x7
  alias                      24 Hours A Day, 7 Days A Week
  monday                     00:00-24:00
  tuesday                    00:00-24:00
  wednesday                  00:00-24:00
  thursday                   00:00-24:00
  friday                     00:00-24:00
  saturday                   00:00-24:00
  sunday                     00:00-24:00
  }


# This is the 'workhours' timeperiod definition
define timeperiod {
  timeperiod_name            workhours
  alias                      Normal Work Hours
  monday                     09:00-17:00
  tuesday                    09:00-17:00
  wednesday                  09:00-17:00
  thursday                   09:00-17:00
  friday                     09:00-17:00
  saturday                   00:00-00:00
  sunday                     00:00-00:00
  }


# This is the 'none' timeperiod definition
define timeperiod {
  timeperiod_name            none
  alias                      No Time Is A Good Time
  }

# The UK bank holidays ...
define timeperiod {
  name                       uk-holidays
  timeperiod_name            uk-holidays
  alias                      UK Holidays

  january 1                  00:00-00:00     ; New Years Day
  march 25                   00:00-00:00     ; Good Friday
  march 28                   00:00-00:00     ; Easter Monday
  monday 1 may               00:00-00:00     ; May Bank Holiday     (first Monday in May)
  monday -1 may              00:00-00:00     ; Spring Bank Holiday  (last Monday in May)
  monday -1 august           00:00-00:00     ; August Bank Holiday  (last Monday in August)
  december 24                00:00-14:00     ; Christmas Eve
  december 25                00:00-00:00     ; Christmas Day
  december 26                00:00-00:00     ; Boxing Day
  december 27                00:00-00:00     ; Christmas extra bank holiday  (in 2016)
  december 31                00:00-14:00     ; New Years Eve
  january 2                  00:00-00:00     ; New Years extra bank holiday  (in 2017)
  }


define timeperiod {
  timeperiod_name            24x7_sans_holidays
  alias                      24x7 Sans Holidays

  use                        uk-holidays

  monday                     00:00-24:00
  tuesday                    00:00-24:00
  wednesday                  00:00-24:00
  thursday                   00:00-24:00
  friday                     00:00-24:00
  saturday                   00:00-24:00
  sunday                     00:00-24:00
  }


# vim: set ts=2 sw=2 et :
